/* ////////////////////////////// */

.aw-cartBackground-left {
  position: relative;
  background-image: url(../images/cart/backgroundCut.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  height: auto;
  max-width: 100%;
  margin: 0 0 272px 0;
}
.aw-cartBackground-right {
}
.aw-cartContent {
  margin-top: 130px;
  padding: 0;
}
.aw-cart-page1-subtitle {
  margin-bottom: 20px;
}
.aw-productArea {
  height: 68vh;
  overflow-y: scroll;
  margin: 0;
  overflow-x: hidden;
}
.aw-productAreaPadding {
  padding: 20px 0;
  border: solid;
  border-width: 1px 0;
  border-color: #707070;
}
/* 卷軸 */
/* width */
.aw-productArea::-webkit-scrollbar {
  width: 32px;
}

/* Track */
.aw-productArea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.aw-productArea::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.aw-productArea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 商品項目 */
.aw-card {
  margin-bottom: 12px;
}

.aw-card-pic {
  /* text-align: center; */
  background: url("/images/style-guide/bg_noise.png") white;
  border-radius: 4px;
  padding: 9px;
  /* height: 240px; */
  width: 100%;
  /* transition: all 0.5s; */
}

.aw-book-pic img {
  height: 160px;
  object-fit: contain;
}

.aw-book-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 8px;
  font-size: 14px;
}

.aw-delete-cross {
  font-size: 1.5rem;
}

.aw-cart-page1-subtitle,
.aw-changeProductBtnRow {
  /* padding-left: 15px; */
  margin-right: 32px;
}
.aw-cart-right {
  width: 10%;
}
.aw-cart-left {
  width: 90%;
}
.aw-stepBtn {
  padding: 140px 95px 160px 0px;
}
