/* 暫時推開footer */
.jill-footer-mt {
  margin-top: 1000px;
}

/* 二手書交換 首頁(模式選擇) */
.jill-index-title {
  text-align: center;
}

.jill-index-bg {
  width: 676px;
  height: 378px;
  background-image: url(../pages/used-books/page-images/index-background.jpg);
  opacity: 24%;
  margin-bottom: 192px;
  margin-left: calc(19%);
}

.jill-changemode {
  /* margin-top: -500px;
  margin-left: 330px; */
  margin-top: -45%;
  margin-left: 30%;
}

.jill-modebtn {
  margin-top: -30%;
  margin-left: 30%;
  z-index: 99;
}

.jill-modebtn button {
  margin: 0px 54px;
}

@media only screen and (max-width: 768px) {
  .jill-index-bg {
    width: 360px;
    height: 378px;
    background-image: url(../pages/used-books/page-images/index-background.jpg);
    opacity: 24%;
    margin-bottom: 192px;
    margin-left: 15%;
  }

  .jill-changemode {
    /* margin-top: -500px;
    margin-left: 330px; */
    margin-top: -118%;
    margin-left: 15%;
  }

  .jill-modebtn {
    margin-top: -118%;
    margin-left: 50%;
  }

  .jill-modebtn button {
    margin: 82px 54px;
  }
}

@media only screen and (max-width: 330px) {
  .jill-index-bg {
    width: 240px;
    height: 378px;
    /* background-image: url(../pages/used-books/page-images/index-background.jpg); */
    opacity: 24%;
    margin-bottom: 192px;
    margin-left: 8%;
  }

  .jill-changemode {
    /* margin-top: -500px;
      margin-left: 330px; */
    margin-top: -180%;
    margin-left: 10%;
  }

  .jill-changemode svg {
    width: 50%;
  }

  .jill-randompic {
    margin-top: -80px;
  }

  .jill-modebtn {
    margin-top: -156%;
    margin-left: 40%;
  }

  .jill-modebtn button {
    width: 100px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 38px;
  }
}

/* 二手書交換 一般模式 首頁 */
.jill-mylist-area {
  position: relative;
  /* height: 800px; */
}

.jill-myNchange-area {
  width: 20%;
}
.jill-myNchange-title {
  text-align: center;
}
.jill-myNchangelist {
  /* width: 90%; */
  margin-top: 28px;
}

.jill-myNchange-add-btn {
  margin-left: 20px;
  margin-bottom: 0px;
}

.jill-myNchange-display {
  width: 398px;
  height: 251px;
  border: 1px solid#D5C7B2;
}

.jill-myNchange-display li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}

.jill-myNchange-display img {
  width: auto;
  height: 200px;
  margin-top: 26px;
  /* margin-left: 47px; */
  margin-left: 36px;
}

.jill-myNchange-display ul {
  list-style: none;
  /* text-decoration: underline #d5c7b2 2px; */
  margin-top: 30px;
}

.jill-myNchange-display li {
  margin-top: 12px;
}

.jill-underline::after {
  content: "_______________";
  color: #d5c7b2;
  width: 0px;
  height: 0px;
  position: absolute;
  margin-top: 12px;
}

.jill-normal-seemyList {
  background-color: var(--honki-red);
  margin-top: 20px;
  margin-left: 39%;
}

.jill-normal-seemyList:hover {
  background-color: var(--honki-red);
}
/* 蜜蜂svg */
.jill-myNchange-display svg {
  position: absolute;
  left: 385px;
  top: 110px;
}

.jill-mystatus {
  position: absolute;
  top: 0px;
  left: 40%;
}

.jill-Iwant-slider-L {
  position: absolute;
  /* left: 0px; */
  /* left: -25px; */
  left: -35px;
  top: 110px;
}
.jill-Iwant-slider-R {
  position: absolute;
  /* left: 710px; */
  /* left: 730px; */
  left: 740px;
  top: 110px;
}

.jill-Peoplewant-slider-L {
  position: absolute;
  /* left: 0px; */
  /* left: -25px; */
  left: -35px;
  top: 420px;
}
.jill-Peoplewant-slider-R {
  position: absolute;
  /* left: 710px; */
  /* left: 730px; */
  left: 740px;
  top: 420px;
}

.jill-mycard {
  width: 351px;
  height: 257px;
  border: 1px solid#D5C7B2;
  margin-left: 12px;
}

.jill-mycard li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 130px;
}

.jill-mycard img {
  height: 160px;
  width: auto;
  margin-top: 24px;
  margin-left: 30px;
}

.jill-mycard ul {
  list-style: none;
  /* text-decoration: underline #d5c7b2 2px; */
  margin-top: 4px;
}

.jill-mycard li {
  margin-top: 12px;
}

.jill-mycard button {
  position: absolute;
}

.jill-card-btn-status {
  top: 234px;
  /* left: 70px; */
  left: 140px;
}

.jill-card-btn-status2 {
  top: 234px;
  left: 500px;
}

.jill-PeoplewantChange-title {
  /* 若想調整margin-top的值，增減多少，jill-card-btn3跟4的按鈕top就一樣要增減相同的數值 */
  margin-top: 16px;
}

.jill-PeoplewantChangeList {
  margin-top: 12px;
}

.jill-card-btn-status3 {
  top: 548px;
  left: 140px;
}

.jill-card-btn-status4 {
  top: 548px;
  left: 500px;
}

@media only screen and (max-width: 1200px) {
  .jill-myNchange-area {
    /* 我的選單再調整 */
    /* width: 50%; */
    width: 40%;
    height: 1200px;
    /* margin-left: 100px; */
  }

  .jill-myNchange-display {
    width: 225px;
    height: 251px;
    border: none;
    background: url("/images/style-guide/bg_noise.png") white;
    /* background-color: rgb(132, 171, 216); */
  }

  .jill-myNchange-display img {
    width: auto;
    height: 200px;
    margin-top: 26px;
    /* margin-left: 47px; */
    margin-left: 90px;
    /* margin-left: 150px; */
  }

  .jill-myNchange-display ul {
    display: none;
  }

  /* 蜜蜂svg */
  .jill-myNchange-display svg {
    position: absolute;
    left: 360px;
    top: 155px;
  }

  .jill-mystatus {
    position: relative;
    height: 1200px;
    margin-top: 50px;
    margin-left: -50px;
  }

  .jill-Iwant-slider-L {
    position: absolute;
    left: -35px;
    top: 110px;
  }
  .jill-Iwant-slider-R {
    position: absolute;
    left: 490px;
    top: 110px;
  }

  .jill-Peoplewant-slider-L {
    position: absolute;
    left: -35px;
    top: 440px;
  }
  .jill-Peoplewant-slider-R {
    position: absolute;
    left: 490px;
    top: 440px;
  }

  .jill-PeoplewantChange-title {
    margin-top: 80px;
  }

  .jill-mycard {
    /* text-align: center; */
    position: relative;
    display: block;
    border: none;
    background: url("/images/style-guide/bg_noise.png") white;
    /* 測試用背景 要調回上面 ，這邊RWD中間斷點暫時這樣，有空再調*/
    /* background-color: rgb(142, 152, 235); */
    border-radius: 15px;
    padding: 20px 20px;
    width: 45%;
    height: 220px;
  }
  .jill-mycard ul {
    display: none;
  }

  .jill-mycard img {
    height: 160px;
    width: auto;
    margin-top: 10px;
    margin-left: 0px;
  }

  .jill-card-btn-status {
    top: 234px;
    left: 35px;
  }

  .jill-card-btn-status2 {
    top: 234px;
    left: 40px;
  }

  .jill-card-btn-status3 {
    top: 235px;
    left: 35px;
  }

  .jill-card-btn-status4 {
    top: 235px;
    left: 40px;
  }
}

@media only screen and (max-width: 678px) {
  .jill-myNchange-area {
    /* 我的選單再調整 */
    width: 60%;
    height: 1200px;
    margin-left: 0px;
  }

  /* 蜜蜂svg */
  .jill-myNchange-display svg {
    position: absolute;
    left: 260px;
    top: 170px;
  }

  .jill-Iwant-slider-L {
    position: absolute;
    left: -35px;
    top: 110px;
  }
  .jill-Iwant-slider-R {
    position: absolute;
    left: 360px;
    top: 110px;
  }

  .jill-Peoplewant-slider-L {
    position: absolute;
    left: -35px;
    top: 440px;
  }
  .jill-Peoplewant-slider-R {
    position: absolute;
    left: 360px;
    top: 440px;
  }

  .jill-mycard {
    /* text-align: center; */
    position: relative;
    display: block;
    border: none;
    background: url("/images/style-guide/bg_noise.png") white;
    /* 測試用背景 要調回上面 */
    /* background-color: rgb(142, 152, 235); */
    border-radius: 15px;
    padding: 20px 20px;
    width: 100%;
    height: 220px;
  }
}

/* 其他人在換什麼 */

.jill-otherbooks-area-title {
  margin-top: 400px;
  text-align: center;
}

.jill-other-card {
  margin-top: 20px;
}

.jill-want-btn {
  margin-top: 200px;
  margin-left: 120px;
}

@media only screen and (max-width: 1200px) {
  .jill-otherbooks-area-title {
    margin-top: 200px;
    text-align: center;
  }

  .jill-other-card {
    width: 170px;
    background-color: rgb(212, 150, 150);
    margin-top: 60px;
  }
  .jill-want-btn {
    margin-top: 210px;
    margin-left: 5px;
  }

  .jill-pagination {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 780px) {
  .jill-other-card {
    margin-top: 80px;
  }
}

/* 新增二手書表單 */
.BC_pic_title {
  margin-right: 100px;
}
