.yu-redpoint {
  width: 64px;
  height: 64px;
  background-color: var(--honki-red);
  margin: 5px;
  float: left;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 70%;
  z-index: -1;
}

.yu-breadcrumb {
  padding-top: 72px;
  padding-left: 158px;
}

.yu-basicbookshelf {
  width: 70%;
}

.yu-book-thebeginningofspring-blank {
  width: 113px;
  height: 168px;
  background-color: #776b6b;
}

.yu-membersmenu {
  margin-top: 15%;
  margin-left: 230px;
}
