.yu-redpoint {
  width: 64px;
  height: 64px;
  background-color: var(--honki-red);
  margin: 5px;
  float: left;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 13%;
  z-index: -1;
}

.yu-breadcrumb {
  padding-top: 72px;
  padding-left: 158px;
}

.yu-membersmenu {
  margin-left: 100px;
}

/* 會員總表收合選單 */
.yu-tab {
  width: 20%;
}

/* 表單背景色 */
.yu-panels {
  background-color: var(--honki-yellow);
}
