.font-en-abel {
    font-family: 'Abel', sans-serif;
}

h1.font-en-abel {
    font-size: 102px;
}
h2.font-en-abel {
    font-size: 64px;
}
h3.font-en-abel {
    font-size: 51px;
}
h4.font-en-abel {
    font-size: 36px;
}
h5.font-en-abel {
    font-size: 25px;
}
h6.font-en-abel {
    font-size: 21px;
}

p.font-en-abel {
    font-size: 17px;
}