/* 只用在 style-guilde-draft.html 的 標題 h1  */

@media only screen and (max-width: 1200px) {
  .responsive-title {
    font-size: 3em;
  }
}

/* Color */

.honki-red {
  background-color: #e83015;

  height: 100px;

  line-height: 50px;
  text-align: center;

  color: #fff;
}

.honki-black {
  background-color: #1c1b1b;

  height: 100px;

  line-height: 50px;
  text-align: center;

  color: #fff;
}

.honki-green {
  background-color: #7ba23e;

  height: 100px;

  line-height: 50px;
  text-align: center;

  color: #fff;
}

.honki-paper {
  background-color: #f2ece3;

  height: 100px;

  line-height: 50px;
  text-align: center;

  border: 1px solid #1c1b1b;
  color: #1c1b1b;
}

.honki-yellow {
  background-color: #fdf3db;

  height: 100px;

  line-height: 50px;
  text-align: center;

  border: 1px solid #1c1b1b;
  color: #1c1b1b;
}

.honki-white {
  background-color: #ffffff;

  height: 100px;

  line-height: 50px;
  text-align: center;

  border: 1px solid #1c1b1b;
  color: #1c1b1b;
}

/* Font: English */

.font-en-abel {
  font-family: "Abel", sans-serif;
}

h1.font-en-abel {
  font-size: 102px;
}
h2.font-en-abel {
  font-size: 64px;
}
h3.font-en-abel {
  font-size: 51px;
}
h4.font-en-abel {
  font-size: 36px;
}
h5.font-en-abel {
  font-size: 25px;
}
h6.font-en-abel {
  font-size: 21px;
}

p.font-en-abel {
  font-size: 17px;
}
