.card-wei {
  background-color: transparent;
  border: none;
}
.book-pic-wei {
  position: relative;
  padding: 2rem 0 1rem 0;
}
.book-pic-wei img {
  height: 165px;
  object-fit: contain;
  -webkit-filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.2));
  transition: 0.5s ease-in-out;
}
.badge-wei {
  background-color: var(--honki-theme);
  color: white;
  font-size: 12px;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 3rem;
  position: absolute;
  top: 1rem;
  left: 2.5rem;
  z-index: 1;
  transition: 0.5s;
  opacity: 1;
}
.new-wei {
  background-color: var(--honki-theme);
}
.sale-wei {
  background-color: coral;
}
.heart-bg-wei {
  background-color: rgba(255, 255, 255, 0.856);
  position: absolute;
  top: 35%;
  right: 1rem;
  text-align: center;
  width: 12%;
  height: 40%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  line-height: 2.8rem;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart-wei {
  font-size: 1rem;
  color: grey;
  cursor: pointer;
}
.hearted-wei {
  color: coral;
}
