body {
  /* margin: 0; */
  padding: 0;
}

/* 暫時隔開footer，要記得刪掉 */
.f-mt {
  margin-top: 100px;
}

/* header start */
.yen-header {
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

.yen-repeat-left {
  width: 40%;
  position: relative;
  animation: fadein 2s ease-in;
}

.yen-pics-left {
  width: 100%;
  height: 100%;
  background: url(../activity-imgs/bg-dots.gif);
}

.yen-bg-img {
  width: 60%;
  height: 100vh;
  animation: fadein 2s ease-in;
}

.yen-pics-right {
  width: 100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  animation: fadein 2s ease-in;
}

.yen-bg-img::after {
  width: 60%;
  height: 100vh;
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background: rgb(180, 184, 177);
  opacity: 0.5;
}

.yen-header-box {
  animation: fadein 4s ease-in;
}

.yen-header-text {
  animation: fadein 4s ease-in;
}

.yen-header-box {
  z-index: 10;
  position: absolute;
  left: 20%;
  right: 30%;
  top: 22%;
  bottom: 15%;
  border: 8px solid #fff;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.yen-header-text {
  padding-left: 10%;
  margin-top: 3%;
  width: 70%;
  height: 70%;
  position: absolute;
}

.yen-header-ladybug {
  position: absolute;
  bottom: -4%;
  right: -4%;
  width: 6%;
}

.yen-arrow-down {
  font-size: 80px;
  z-index: 9;
  position: absolute;
  bottom: -8px;
  color: #fff;
  padding-left: calc(50% - 25px);
  animation: fadein 4s ease-in, Updown 1s infinite alternate;
}

/* header animation */
@keyframes Updown {
  from {
    bottom: -16px;
  }
  to {
    bottom: -8px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* header animation end */

/* header media query */
@media (min-width: 768px) and (max-width: 992px) {
  .yen-header-box {
    z-index: 10;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 30%;
    border: 4px solid #fff;
    color: #fff;
    transition: 0.5s ease-in-out;
  }

  .yen-header-text {
    padding-left: 10%;
    margin-top: 3%;
    width: 80%;
    position: absolute;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .yen-header-box {
    z-index: 10;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 30%;
    border: 4px solid #fff;
    color: #fff;
    transition: 0.5s ease-in-out;
  }

  .yen-header-text {
    padding-left: 5%;
    margin-top: 3%;
    width: 95%;
    height: 95%;
    position: absolute;
  }
}

@media (max-width: 576px) {
  .yen-header-box {
    z-index: 10;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 25%;
    bottom: 30%;
    border: 4px solid #fff;
    color: #fff;
    transition: 0.5s ease-in-out;
  }

  .yen-header-text {
    padding-left: 5%;
    margin-top: 3%;
    width: 85%;
    height: 85%;
    position: absolute;
  }
}
/* header media query end */
/* header end */

/* ---------------------------- */

/* hot start */
.yen-overflow-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.yen-hot {
  margin: 0 72px;
  padding-top: 72px;
  height: 100vh;
  overflow: visible;
}

.yen-title-box {
  width: 100%;
  position: relative;
}

.yen-circle {
  width: 7%;
  position: absolute;
  top: 0;
}

.yen-title-text {
  padding-left: 9%;
  padding-top: 4%;
  font-size: 24px;
}

.yen-hot-card-box {
  display: flex;
  margin-top: 2%;
  width: 100%;
  /* background: #ccc; */
  overflow-x: visible;
  position: relative;
}

.yen-hot-cards-s {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #adc;
  padding: 15rem;
  height: 80%;
  z-index: 10;
}

.yen-hot-cards-l {
  background: #acf;
  padding: 15rem;
  z-index: 10;
}

.yen-hot-bgimg1 {
  background-image: url(../activity-imgs/hot/hot-1.jpg);
}
.yen-hot-bgimg2 {
  background-image: url(../activity-imgs/hot/hot-2.jpg);
}
.yen-hot-bgimg3 {
  background-image: url(../activity-imgs/hot/hot-3.jpg);
}
.yen-hot-bgimg4 {
  background-image: url(../activity-imgs/hot/hot-4.jpg);
}
.yen-hot-bgimg5 {
  background-image: url(../activity-imgs/hot/hot-1.jpg);
}
.yen-hot-bgimg6 {
  background-image: url(../activity-imgs/hot/hot-1.jpg);
}

/* media query */
@media (min-width: 768px) and (max-width: 992px) {
  .yen-overflow-box {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .yen-hot-card-box {
    overflow-y: visible;
    margin-top: 2%;
    height: 70%;
  }

  .yen-hot-cards-s {
    margin-top: 4rem;
    padding: 8rem 10rem;
    height: 70%;
  }

  .yen-hot-cards-l {
    padding: 8rem 10rem;
    height: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .yen-overflow-box {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .yen-hot-card-box {
    margin-top: 2%;
    height: 70%;
    overflow: visible;
  }

  .yen-hot-cards-s {
    margin-top: 5rem;
    padding: 6rem 10rem;
    height: 70%;
  }

  .yen-hot-cards-l {
    padding: 6rem 10rem;
  }
}

@media (max-width: 575px) {
  .yen-overflow-box {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .yen-hot {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    overflow-y: visible;
  }

  .yen-title-box {
    width: 100%;
    padding-bottom: 24px;
    margin-left: 30%;
  }

  .yen-circle {
    width: 12%;
    position: absolute;
    top: 8px;
  }

  .yen-title-text {
    padding-left: 15%;
    padding-top: 4%;
    font-size: 19px;
  }

  .yen-hot-card-box {
    /* margin-top: 2%; */
    width: 100vw;
    height: 100%;
    overflow: visible;
  }

  .yen-hot-cards-s {
    /* margin-top: 10%; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 11.5rem;
  }

  .yen-hot-cards-l {
    width: 100%;
    height: 100%;
  }
}
