/*
:root {
  --bgc: #ececec;
  --footer-color: #f3eee7;
  --h2--: 58px;
  --h3--: 47px;
  --h6--: 19px;
  --h5--: 23px;
  --content--: 16px;
  --scontent--: 14px;
}
*/

/* 桌機版設定 */

/* 節氣圓盤 v1
.solar-term-plate {
  height: 715px;
  width: 715px;

  transform: translate(-81px, -165px);

  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
 */

/* 
12 等份圓盤

參考資料：
https://stackoverflow.com/questions/14184494/segments-in-a-circle-using-css3/14185845 
https://codepen.io/ant1mas/pen/MeJjaK
*/

.old-season-container {
  height: 900px;
  /* margin-bottom: 80px; */
  overflow-x: hidden;
}

/* solar-term-plate 的各種設定 start */

.title-box {
  width: 100vw / 2;
}

.title-bg {
  float: left;
  /* display: inline-block; */
  background-color: #ffffff;
  height: 2.5rem;
  overflow: initial;
  margin: 0.5rem;
  /* transform: translate(calc(100vw / 12), calc(100vh * 7 / 9 - 80px)); */
  transform: translate(calc(100vw / 12), 0rem);
}

.title {
  transform: translate(0.7rem, -0.7rem);
}

@keyframes rotation {
  from {
    /* transform: translate(0px, 0px) rotate(0deg); */
    /* transform: translate(-81px, -205px) rotate(0deg); */
    transform: translate(-70px, -173px) rotate(15deg);
  }
  to {
    /* transform: translate(0px, 0px) rotate(359deg); */
    /* transform: translate(-81px, -205px) rotate(359deg); */
    transform: translate(-70px, -173px) rotate(374deg);
  }
}

.solar-term-plate-filler {
  height: calc(70vh);
}

.solar-term-plate-v2 {
  overflow: hidden;
  position: absolute;
  margin: 1em auto;
  padding: 0;
  width: 715px;
  height: 715px;
  /* border: 1px solid black; */
  border-radius: 50%;
  list-style: none;

  /* image source: https://www.behance.net/gallery/38204839/The-24-Solar-Terms-Character-Design */
  background-image: url(images/The_24_Solar_Terms_by_Cinyee_Chiu_715x715.png);
  background-size: 100% 100%;

  /* transform: translate(0px, 0px); */
  /* transform: translate(-81px, -265px); */
  transform: translate(-70px, -173px) rotate(15deg);
}

/* .solar-term-plate-v2:hover {
  transform: translate(-500px, -300px) rotate(30deg) skewY(0deg);
  transition: 0.5s;
} */

.red-center {
  width: 395px;
  height: 395px;
  border-radius: 50%;
  border: 23px solid var(--honki-paper);

  background-image: url(images/earth-drawing-clip-art-earth-375x375_v2.png);
  background-size: 100% 100%;
  overflow: hidden;

  transform: translate(40%, 40%);
}

.red-center .red-center-bg-color {
  background-color: var(--honki-red);
  position: absolute;
  /* left: -100%; */
  width: 200%;
  height: 200%;

  opacity: 1;
}

/* .red-center-bg-color:hover {
  background-color: transparent;
  transition: 1s;
} */

.slice {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;

  border: 5px solid var(--honki-paper);

  margin-top: -5000px;
  margin-left: -5000px;

  width: 5000px;
  height: 5000px;
  transform-origin: 100% 100%;
}
.slice:nth-child(1) {
  transform: rotate(0deg) skewY(60deg);
  opacity: 0;
  display: block;
}
.slice:nth-child(2) {
  transform: rotate(30deg) skewY(60deg);
}
.slice:nth-child(3) {
  transform: rotate(60deg) skewY(60deg);
}
.slice:nth-child(4) {
  transform: rotate(90deg) skewY(60deg);
}
.slice:nth-child(5) {
  transform: rotate(120deg) skewY(60deg);
}
.slice:nth-child(6) {
  transform: rotate(150deg) skewY(60deg);
}
.slice:nth-child(7) {
  transform: rotate(180deg) skewY(60deg);
}
.slice:nth-child(8) {
  transform: rotate(210deg) skewY(60deg);
}
.slice:nth-child(9) {
  transform: rotate(240deg) skewY(60deg);
}
.slice:nth-child(10) {
  transform: rotate(270deg) skewY(60deg);
}
.slice:nth-child(11) {
  transform: rotate(300deg) skewY(60deg);
}
.slice:nth-child(12) {
  transform: rotate(330deg) skewY(60deg);
}
.slice:nth-child(13) {
  transform: rotate(360deg) skewY(60deg);
}

.slice-contents {
  position: absolute;
  /* left: -100%; */
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: var(--honki-black);
  opacity: 50%;
}

.slice:hover .slice-contents {
  background-color: transparent;
  transition: 1s;
}

@media only screen and (max-width: 1200px) {
  .solar-term-plate-v2 {
    z-index: 0;
  }
  .title-bg {
    transform: translate(-1rem, 0rem);
    z-index: 2;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    z-index: 2;
    transform: translate(0.5rem, -0.5rem);
  }
}

@media only screen and (max-width: 720px) {
  .solar-term-plate-filler {
    display: none;
  }
  .solar-term-plate-v2 {
    width: 90vw;
    height: 90vw;
    /* transition: 0.5s; */
    position: fixed;
    bottom: 0;
    z-index: 1;
  }

  /* v1 */
  .red-center {
    width: 50vw;
    /* height: 50%; */
    height: 50vw;
    transform: translate(39%, 39%);
    /* transition: 0.5s; */
    border: 10px solid var(--honki-paper);
  }

  /* v2 */
  .red-center-v2 {
    width: 80vw;
    /* height: 50%; */
    height: 80vw;
    transform: translate(6%, 6%);
    /* transition: 0.5s; */
  }

  /* .red-center-bg-color:hover {
    background-color: var(--honki-red);
  } */

  .slice-contents {
    opacity: 50%;
  }

  /*  */
  @keyframes rotation {
    from {
      transform: translate(0px, 50vw) rotate(0deg);
    }
    to {
      transform: translate(0px, 50vw) rotate(359deg);
    }
  }

  /* .solar-term-plate-filler {
    height: calc(100vw + 2rem);
  } */

  .slice {
    border: 3px solid var(--honki-paper);
  }
}

/* solar-term-plate 的各種設定 end */

.book-card {
  width: 220px;
  height: 330px;
  border: 1px dashed black;
  margin: 16px 0;
}

.book-base {
  width: 218px;
  height: 248px;
  border-radius: 15px;
  background-color: var(--honki-white);
}

.osb-book-col {
  margin-top: 32px;
  margin-bottom: 32px;
}

.osb-row {
  margin: 16px 0;
}

.book-card-spacing {
  padding: 0 0;
  margin: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate {
  animation: rotation 120s infinite linear;
}
